{% extends "shopping/base.html" %}

{% block content %}
<div class="container">

  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
  {% if user.is_authenticated %}
  <p class="content is-danger">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
  <p>Please login to see this page.</p>
  {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="field">
      <label class="label">{{ form.username.label_tag }}</label>
      <div class="control">
        {{ form.username }}
      </div>
    </div>

    <div class="field">
      <label class="label">{{ form.password.label_tag }}</label>
      <div class="control">
        {{ form.password }}
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input type="submit" value="login" class="button is-rounded is-info">
      </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}">
  </form>

</div>
{% endblock %}
