{% extends 'shopping/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<form class="container" action="basket" method="post">
  <p class="content">Your basket is ({{ items|length }}):</p>
  {% csrf_token %}

  <div class="columns is-multiline is-centered">
    {% for item in items %}
    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-header">
          <h1 class="card-header-title">{{ item.vetement.name }}</h1>
        </div>

        <div class="card-content">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ item.vetement.image.url }}" alt="Placeholder image">
            </figure>
          </div>
          <p class="subtitle is-3">{{ item.vetement.description }}</p>
          <div class="control has-icons-right">
            <input type="text" class="input" value="{{ item.vetement.price }}" disabled />
            <span class="icon is-small is-right">
              <i class="fas fa-euro-sign"></i>
            </span>
          </div>
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Dropdown button</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>

            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                {% for color in item.vetement.Colors %}
                <a href="#" class="dropdown-item">
                  {{ color.label }}
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
          <input type="checkbox" name="{{ item.id }}">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <input class="button is-danger" type="submit">
</form>
{% endblock %}
