{% extends 'shopping/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<form class="container" action="basket" method="post">
  <p class="content">Your basket is ({{ items|length }}):</p>
  {% csrf_token %}

  <div class="columns is-multiline is-centered">
    {% for item in items %}
    <div class="column is-one-fifth">
      <h1 class="title is-1">{{ item.vetement.name }}</h1>
      <p class="subtitle is-3">{{ item.vetement.description }}</p>
      <div class="control has-icons-right">
        <input type="text" class="input" value="{{ item.vetement.price }}" disabled />
        <span class="icon is-small is-right">
          <i class="fas fa-euro-sign"></i>
        </span>
      </div>
      <input type="radio" name="{{ item.id }}">
    </div>
    {% endfor %}
  </div>

  <input class="button is-danger" type="submit">
</form>
{% endblock %}
