{% extends 'shopping/base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
  <div class="columns is-vcentered is-centered">
    {% for vetement in vetements %}
    <div class="column">
    <a class="title is-3" href="/shopping/{{ vetement.id }}">{{ vetement.name }}</a>
    <br>
    <p class="subtitle is-5">{{ vetement.description }}</p>
    <input type="text" class="input" value="{{ vetement.price }}" disabled />
  </div>
    {% endfor %}
  </div>
{% endblock %}
